
{% load staticfiles %}
{% load avatar_tags %}

<header>
  <nav class="navbar navbar-default navi">
   <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="{% url 'list' %}"><img src="{% static 'img/512x512_game-256.png' %}" id="logo_navbar"/></a>
       <a class="navbar-brand" id="logo_name" href="{% url 'list' %}">PAINTMASTER</a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
         {% if user.is_authenticated %}

           {% if user.is_staff %}
         <li><a href="{% url 'create' %}">Créer article</a></li>
         <li><a href="{% url 'draft_list' %}">Brouillons</a></li>
         {% endif %}
       </ul>

       <ul class="nav navbar-nav navbar-right">
         <form method="GET" class="navbar-form navbar-left">
           <div class="form-group">
             <input type="text" name="q" class="form-control" placeholder="Rechercher" value="{{ request.GET.q }}">
             <input type='hidden' name="next" value="{% url 'list' %}"/>
           </div>
           <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true" style="color:#23B697"></i></button>
         </form>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte {% avatar user %}<span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="{% url 'profile' request.user.id %}">Voir mon profil</a></li>
             <li role="separator" class="divider"></li>
             <li><a href="{% url 'auth_logout' %}">Se déconnecter</a></li>
             {% if user.is_staff %}

             <li><a href="/admin/" target="blank">Back office</a></li>
             {% endif %}

           </ul>
         </li>
       </ul>

     {% else %}
   </ul>
     <ul class="nav navbar-nav navbar-right">
       <form method="GET" class="navbar-form navbar-left">
         <div class="form-group">
           <input type="text" name="q" class="form-control" placeholder="Rechercher" value="{{ request.GET.q }}">
         </div>
         <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true" style="color:#23B697"></i></button>
       </form>
       <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connexion <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="{% url 'auth_login' %}">Se connecter</a></li>
           <li role="separator" class="divider"></li>
           <li><a href="{% url 'registration_register' %}">S'inscrire</a></li>
         </ul>
       </li>
     </ul>
     {% endif %}
     </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
 </nav>
</header>
