{% extends "base.html" %}


{% block title %}Modification du mot de passe{% endblock title %}
{% block content %}

<div style="margin: auto;line-height: 3em; padding:5em 0;" class="">
  <i style="text-align:center" class="fa fa-power-off fa-2x" aria-hidden="true"></i>
<p style="text-align:center; padding:0">
  Modification du mot de passe réussit
</p>
<p style="text-align:center; padding:0" id="redirection">

</p>
<i style="text-align:center" class="fa fa-hand-peace-o fa-2x" aria-hidden="true"></i>

</div>

<script type="text/javascript">
$(document).ready(function(){
    var time = 3;

    setInterval(function(){
      $("#redirection").text("Redirection dans " + time + "secondes.");
      if (time==0){
        window.location.href="{% url 'profile' request.user.id %}";
      }
      time --;
    }, 1000);
});

</script>

{% endblock %}
