{% extends "base.html" %}


{% block title %}{{ title }}{% endblock title %}


{% block content %}
<h1>Brouillons</h1>
<div class="row">
  {% for object in object_list %}
    {% if forloop.counter0|divisibleby:3 %}</div><div class="row">{% endif %}
      <div class="col-md-4">
        <div class="thumbnail">
        {% if object.image %}
        <a href="{{ object.get_absolute_url_bis }}" class="btn btn-secondary" role="button"><img src="{{ object.image.url }}" alt="" class="portrait" /></a>
        {% endif %}
        <div class="caption">
          <h3>
            <span>{{object.publish}}</span>
          </h3>
          <p>
            <a href="{{ object.get_absolute_url_bis }}" class="btn btn-secondary" role="button">{{ object.title | truncatechars:30}}</a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">

      <span class="current">
        {% if object_list.has_previous %}
        <a href="?page={{ object_list.previous_page_number }}"> << </a>
        {% endif %}
        Page {{ object_list.number }} sur {{ object_list.paginator.num_pages }}
        {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}"> >> </a>
        {% endif %}
      </span>

    </span>
  </div>
</div>

{% endblock %}
